<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>
        <element>
            <name>imageFolders</name>
            <label>Bilder Ordner</label>
            <value>bild1,bild2,bild3,bild4,bild5,bild6,bild7</value>
        </element>
        <element>
            <name>variantFolderName</name>
            <label>Varianten Bilder Ordner</label>
            <value>vbilder</value>
        </element>
        <element>
            <name>baseFolder</name>
            <label>Base Folder</label>
            <value>/mnt/pim-media/ostermann</value>
        </element>
    </elements>
</config>
